.skills {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    align-items: center;
}

.skills h2 {
    color: var(--light-grayish-blue);
    font-family: var(--font-noto-disp);
    letter-spacing: 2px;
}

.skills__container {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}

.skills__container__skill {
    background-color: var(--clr-cream);
    font-size: 0.9rem;
    padding: 0.4rem 1rem;
    border-radius: 16px;
}

@media (min-width: 750px) {
    section {
        margin: auto;
        max-width: 80rem;
    }
}