.intro {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    gap: 2rem;
}

.intro__img {
    display: flex;
    align-items: center;
}

.intro__img img {
    width: 30vw;
    max-width: 20rem;
    border-radius: 50%;
}

.intro__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1rem;
}

.intro__content__heading {
    color: var(--light-grayish-blue);
    font-family: var(--font-noto-disp);
    font-size: 2rem;
    line-height: 3rem;
}

.intro__content__heading span {
    color: var(--clr-btn);
}

.intro__content__para {
    opacity: 0.8;
    line-height: 1.8rem;
    color: var(--light-grayish-blue);
}

.intro__content__resume {
    display: flex;
    align-self: center;
}

.intro__content__resume a {
    color: var(--clr-mint);
    text-decoration: none;
    font-weight: 400;
    display: flex;
    width: max-content;
    align-items: center;
    gap: 0.5rem;
    opacity: 0.8;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid;
    margin-top: 1.5rem;
}

.intro__content__resume a:hover {
    opacity: none;
    color: var(--clr-btn);
    transition: 0.2s;
}

@media (min-width: 1240px) {
    section {
        margin: auto;
        max-width: 80rem;
    }

    .intro {
        flex-direction: row;
        align-items: center;
        gap: 6rem;
        padding: 5rem;
        justify-content: center;
    }

    .intro__content {
        width: 50%;
        text-align: left;
    }

    .intro__content__heading {
        font-size: 2.5rem;
        line-height: 3.5rem;
        letter-spacing: 1px;
    }
}