.contact {
    background-color: var(--clr-mint-c);
    color: var(--light-grayish-blue);
    font-family: var(--font-noto-disp);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contact__left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact__basic {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    opacity: 0.9;
}

.contact__basic p {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact__social {
    display: flex;
    gap: 2rem;
    align-self: center;
}

.contact__social a {
    color: var(--light-grayish-blue);
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    padding: 0.4rem;
    border: 1px solid;
    border-radius: 50%;
}

.contact__social a:hover {
    color: var(--very-dark-blue);
    transition: 0.2s;
}

@media (min-width: 750px) {
    section {
        margin: auto;
        max-width: 80rem;
    }
    
    .contact {
        padding-top: 5rem;
        padding-bottom: 5rem;
        flex-direction: row;
        justify-content: space-around;
    }
}