@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    /* ==== USING ==== */

    --dark-bg: hsl(210, 29.03%, 24.31%);
    --clr-btn: hsl(351, 78%, 71%);
    --clr-hot-pink-a: hsla(350, 100%, 80%, 0.5);
    --clr-hot-pink-c: hsla(350, 100%, 80%, 0.65);
    --clr-hot-pink: hsl(350, 100%, 84%);
    --clr-hot-red: hsl(5.61, 78.08%, 57.06%);
    --clr-mint: hsl(138, 83%, 84%);
    --light-grayish-blue: hsl(240, 75%, 98%);
    --clr-black: hsl(0, 0%, 0%);
    --clr-baby-blue: hsl(201, 55%, 94%);
    --clr-cream: hsl(18, 72%, 93%);
    --clr-cream-a: hsla(18, 72%, 93%, 0.8);
    --light-bg-a: hsla(207, 97%, 95%, 0.8);

    --font-noto-sans: "Noto Sans Mono", monospace;
    --font-noto-disp: "Noto Sans Display", sans-serif;
    --trans: all 0.4s ease;
    --trans-less: all 0.5s ease;

    /* ==== COLLECTION ==== */

    --clr-tiffany-blue: hsl(178, 60%, 77%);
    --clr-mint-a: hsl(138, 83%, 90%);
    --clr-mint-c: hsla(138, 100%, 90%, 0.4);
    --clr-yellow: hsl(37, 87%, 88%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --clr-blk: hsl(210, 29.03%, 24.31%);
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    --light-bg: hsl(207, 97%, 95%);
    --font-open-sans: "Open Sans", sans-serif;
    --font-raleway: "Raleway", sans-serif;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-noto-sans);
    background: var(--dark-bg);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

html {
    font-size: 16px;
}

section {
    margin-top: 4rem;
    margin-bottom: 4rem;
    max-width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--clr-baby-blue);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--clr-hot-pink);
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--clr-btn);
}
